<ion-header>
  <ion-toolbar>
    <ion-title>Add A New Expense</ion-title>
    <ion-title size="small">All new expenses require a reciept photo to be valid.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background" no-bounce>
<form [formGroup]="expenseForm" class="form-div">
    <ion-list>   
    <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-select formControlName="type" interface="action-sheet" name="type" >
        <ion-select-option value="meal">Meal</ion-select-option>
        <ion-select-option value="accomodation">Accomodation</ion-select-option>
        <ion-select-option value="travel">Travel</ion-select-option>
        <ion-select-option value="misc">Misc</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input type="text" formControlName="description" name="description"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cost</ion-label>
      <ion-input  formControlName="cost" name="cost">£ </ion-input>
    </ion-item>
  </ion-list>

  <ion-col size="6" 
      *ngIf="photo">
    <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"></ion-img>
  </ion-col>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="back()"> Back </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" type="submit" [disabled]="!expenseForm.valid" 
        (click)="addExpense()">Submit</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</form>

</ion-content>
