<ion-header>
  <ion-toolbar>
    <ion-title>Expense Detail</ion-title>
    <ion-buttons >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>      
      <ion-card-title>{{ expense.description }}</ion-card-title>
      <ion-card-subtitle>{{ expense.type }}</ion-card-subtitle>
    </ion-card-header>  
    <ion-card-content>
      £{{ expense.cost }}
    </ion-card-content>
       
    <ion-col size="6" 
      *ngIf="photo">
    <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"></ion-img>
    </ion-col>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" routerLink="/" routerDirection="back"> Back </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="delete()">Delete
        </ion-button>
      </ion-col>     
    </ion-row>

  </ion-grid>
</ion-content>